.metadata/.lock
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments.gen
.metadata/.plugins/org.eclipse.jdt.core/1653389528.index
.metadata/.plugins/org.eclipse.jdt.core/1740101647.index
.metadata/.plugins/org.eclipse.jdt.core/1870094127.index
.metadata/.plugins/org.eclipse.jdt.core/199186984.index
.metadata/.plugins/org.eclipse.jdt.core/2346237577.index
.metadata/.plugins/org.eclipse.jdt.core/2518246714.index
.metadata/.plugins/org.eclipse.jdt.core/2961793328.index
.metadata/.plugins/org.eclipse.jdt.core/3097711138.index
.metadata/.plugins/org.eclipse.jdt.core/3559468113.index
.metadata/.plugins/org.eclipse.jdt.core/3751413.index
.metadata/.plugins/org.eclipse.jdt.core/3766575865.index
.metadata/.plugins/org.eclipse.jdt.core/427682023.index
.metadata/.plugins/org.eclipse.jdt.core/55593696.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/HelloWorld.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1039617268.index
.metadata/.plugins/org.eclipse.jdt.core/1061609049.index
.metadata/.plugins/org.eclipse.jdt.core/1348710767.index
.metadata/.plugins/org.eclipse.jdt.core/14507210.index
.metadata/.plugins/org.eclipse.jdt.core/1530861385.index
.metadata/.plugins/org.eclipse.jdt.core/1576913576.index
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/adf200381e5154196670971b2e3461af/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/adf200381e5154196670971b2e3461af/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/adf200381e5154196670971b2e3461af/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/adf200381e5154196670971b2e3461af/write.lock
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/48/b0534d571f9d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/89/f0ce04b91d9d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/92/60fa7c591e9d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/9d/a0ce1d1c1f9d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/d9/e0966b72229d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/df/e05d08d3219d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/day07/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/day07/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/day07/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.kosta_03_011-hp_31747/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.kosta_03_011-hp_31747/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.kosta_03_011-hp_31747/node.properties
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/version.ini
RemoteSystemsTempFiles/.project
.metadata/.plugins/org.eclipse.core.resources/.history/28/70e3f488379d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/3/c0bdf8b4379d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/31/40e4d661389d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/34/e05a0e97379d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/3f/5098319e379d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/4/502ff047389d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/60/706c8c2b389d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/6a/3028b928389d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/78/b004d08a3a9d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/a2/00a9756b389d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/a9/50d7bea4379d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/b5/508841fd379d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/cf/809464c6379d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/df/b0a78af3379d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/ee/b0847b70389d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/f6/e0e0debd379d00141c5bdc2581056b4e
.metadata/.plugins/org.eclipse.core.resources/.history/fe/e043a5f8379d00141c5bdc2581056b4e
.metadata/
